

@media screen and (max-width:986px){
    .contacto{
     flex-direction: column;
    }

    .contacto form{
        width: 100%;
        margin: 0!important;
        padding: 0!important;
    }
}


